body {
    background-image: linear-gradient(to right, rgb(235, 213, 230), rgb(191, 151, 181));
}

.container {
    border-radius: 20px; 
    text-align: center;
    display: flex;
}
#titleBar {
    background-color: white;
    box-shadow: 7px 8px 5px rgb(60, 58, 58);
}
.searchButton {
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(223, 178, 212, 0.515);
    flex-flow: row wrap;
    box-shadow: 5px 5px 5px rgb(60, 58, 58);
}
h1 {
    font-family: 'lobster', cursive;
    font-size: 40pt;
}
h6 {
    font-family: 'lobster', cursive;
    font-size: 18pt;
}
#addSearch {
    border-radius: 20px;
    margin: 5px;
    background-color: rgba(223, 178, 212, 0.515);
    box-shadow: 5px 5px 5px rgb(60, 58, 58);
}
img {
    margin: 10px;
    border-radius: 20pt;
} 
#results {
    display: flex;
    text-align: center;
    margin: 20px;
}

#searches {
    margin: 40px;
}